<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=º, initial-scale=1.0">
    <title>Users Django App</title>
</head>
<body>
    <ul>
        <a href="/main"><li>Ver lista de usuarios</li></a>
        <a href="/main/create"><li>Crear usuario</li></a>
    </ul>

    {% block content %}
    {% endblock content %}

    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <p> <b>ERROR: </b>{{ message }}</p>
            {% else %}
                <p>{{ message }}</p>
            {% endif %}
        {% endfor %}
    {% endif %}

</body>
</html>