{% extends 'base.html' %}

{% block content %}
    <img src="{{ user.profile.get_image_url }}" alt="" width="200" height="200">
    <h1>{{ user.full_name }}</h1>
    <p>Email: <b>{{ user.email }}</b></p>
    <p>Teléfono: <b>{{ user.phone_number }}</b></p>
    <p>Género: <b>{{ user.get_gender_display }}</b></p>
    {% if user.date_birth %}
        <p>Fecha de nacimiento: {{ user.date_birth }}</p>
    {% else %}
        <p>Fecha de nacimiento no especificada</p>
    {% endif %}
    <h2>Biografía</h2>
    <p>{{ user.profile.bio }}</p>
    {% if user.profile.is_public %}
        <h3 style='color:green;'>PERFIL PÚBLICO</h3>
    {% else %}
        <h3 style='color:red;'>PERFIL PRIVADO</h3>
    {% endif %}

    <h3>Direcciones de envío registradas</h3>
    <a href="{% url 'addresses:create' user.id %}">
        <button>Añadir nueva dirección de envío</button>
    </a>
    {% if user.addresses.all|length > 0 %}
        <ul>
            {% for address in user.addresses.all %}
                <a href="{% url 'addresses:detail' address.id %}">
                    <li>
                        {{address.street}} #{{address.external_number}}, {{ address.city}}
                        <a href="{% url 'addresses:update' address.id %}">
                            <button>Editar</button>
                        </a>
                        <a href="{% url 'addresses:delete' address.id %}">
                            <button>Eliminar</button>
                        </a>
                    </li>
                </a>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aún no tienes direcciones de envío registradas ☹️</p>
    {% endif %}

    <h3>Grupos a los que pertenece</h3>

    {% if user.groups.all|length > 0 %}
        <ul>
        {% for group in user.groups.all %}
            <a href="{{ group.get_absolute_url }}"><li>{{ group.name }}</li></a>
            <form action="{% url 'user:remove_group' user.id %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="group_id" value="{{ group.id }}">
                <input type="submit" value="Salir del grupo">
            </form>
        {% endfor %}
        </ul>
    {% else %}
        <h5>Este usuario no pertenece a ningún grupo</h5>
    {% endif %}

    <a href="{% url 'user:update' user.id %}"><button>Editar usuario</button></a>
    <a href="{% url 'user:delete' user.id %}"><button>Eliminar usuario</button></a>
{% endblock content %}